spring.datasource.url=jdbc:mysql://localhost:3306/{adoptions_db_name}
spring.datasource.username=
spring.datasource.password=
#
spring.ai.deepseek.api-key=sk-or-v1-xxxxxxxxxxxxxxxxxxx
spring.ai.deepseek.chat.base-url=https://openrouter.ai/api/v1/
spring.ai.deepseek.chat.options.model=
spring.ai.deepseek.chat.options.temperature=0.3f
#
spring.elasticsearch.uris=http://localhost:9200
spring.elasticsearch.username=elastic
spring.elasticsearch.password=secret
spring.ai.vectorstore.elasticsearch.initialize-schema=true
spring.ai.vectorstore.elasticsearch.index-name=adoptions-dogs-document-index
spring.ai.vectorstore.elasticsearch.dimensions=384
#
agency.name=Pooch Palace